  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sarala&display=swap');
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  .body {
    font-size: 100%;
    background-color: rgba(251, 244, 230, 1);
    animation: fadeIn;
    animation-duration: 2s;
  }

  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 85px;
  }

 .menu {
    display: flex;
    gap: 32px;
 }

 .menu-item {
font-family:'Sarala', sans-serif;
color: rgba(79, 53, 29, 1);
font-weight: 400;
font-size: 23px;
cursor: pointer;
 }

 .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

 }

 .conteudo-principal-imagem {
    height: 573px;
 }

 .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 2px;
 }

 .conteudo-principal-titulo {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 58px;
    color: rgba(79, 53, 29, 1);
 }

 .conteudo-principal-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(79, 53, 29, 1);
 }

 .conteudo-principal-escrito-botao {
    background-color: rgba(182, 121, 34, 1);
    width: 230px;
  height: 60px;
  border: none;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  color: rgba(255, 245, 231, 1);
  font-family: 'Sarala', sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition:all 0.3s ease-in-out;

 }

 .conteudo-principal-escrito-botao:hover {
    transform: scale(1.1);
 }